.icon {
    width: 20px;
    height: auto;
    opacity: 0;
}

.icon path {
    stroke: white;
    stroke-width: 1;
}

button:hover .icon path {
    stroke: rgb(244 63 94);
}

button:focus .icon path {
    stroke: rgb(244 63 94);
}

div:hover>button .icon,
div:focus>button .icon,
button:focus .icon {
    opacity: 100;
}